{template "content","header"}
 <div class="dabox">
    

    <div class="box2">
        <ul class="left2">
        	{pc:content action="category" num="3" catid="$catid"}
        	{loop $data $r}<!-- 
        	{php print_r($r)} -->

            <li>
            	<a href="{$r[url]}">{$r[catname]}</a>
            </li>
            {/loop}
            {/pc}

        </ul>
        <div class="right2">
            <p>{$r[catname]}</p>
        </div><!-- right2结束 -->
        
    </div><!-- box结束 -->

</div><!-- dabox结束 -->
{template "content","footer"}